<section class="s-social">
  <div class="row social-content">
    <div class="column">
      <ul class="social-list">
        <li class="social-list__item">
          <a href="https://www.youtube.com/@RemanentedelDiosvivoyeternoigl" target="_blank" rel="noopener" title="YouTube">
            <span class="social-list__icon social-list__icon--youtube"></span>
            <span class="social-list__text">YouTube</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://www.tiktok.com/@remanente.del.dios" target="_blank" rel="noopener" title="TikTok">
            <span class="social-list__icon social-list__icon--tiktok"></span>
            <span class="social-list__text">TikTok</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://www.facebook.com/iglesiaremanenteoficial" target="_blank" rel="noopener" title="Facebook">
            <span class="social-list__icon social-list__icon--facebook"></span>
            <span class="social-list__text">Facebook</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="https://www.instagram.com/remanente.iglesia17/" target="_blank" rel="noopener" title="Instagram">
            <span class="social-list__icon social-list__icon--instagram"></span>
            <span class="social-list__text">Instagram</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="mailto:remanente.iglesia17@gmail.com" title="Correo">
            <span class="social-list__icon social-list__icon--email"></span>
            <span class="social-list__text">Correo</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
