<footer class="s-footer">
  <div class="row footer-top">
    <div class="column large-4 medium-5 tab-full">
      <div class="footer-logo">
        <a class="site-footer-logo" routerLink="/">
          <img src="assets/images/logo.png" alt="Remanente">
        </a>
      </div>
      <p>{{ i18n.t('footer.desc') }}</p>
    </div>

    <div class="column large-half tab-full">
      <div class="row">
        <div class="column large-7 medium-full">
          <h4 class="h6">{{ i18n.t('footer.location') }}</h4>
          <p>
            Cra. 7e Bis #72a-74<br>
            Barrio Alfonso López, Palmira<br>
            Valle del Cauca, Colombia
          </p>
          <p>
            <a href="https://www.google.com/maps/search/?api=1&query=Cra.+7e+Bis+%2372a-74%2C+Alfonso+Lopez%2C+Palmira%2C+Cali%2C+Valle+del+Cauca%2C+Colombia"
               target="_blank" class="btn btn--footer">
              {{ i18n.t('footer.directions') }}
            </a>
          </p>
        </div>

        <div class="column large-5 medium-full">
          <h4 class="h6">{{ i18n.t('footer.quicklinks') }}</h4>
          <ul class="footer-list">
            <li><a routerLink="/">{{ i18n.t('nav.inicio') }}</a></li>
            <li><a routerLink="/about">{{ i18n.t('nav.about') }}</a></li>
            <li><a routerLink="/volunteer">{{ i18n.t('nav.volunteer') }}</a></li>
            <li><a routerLink="/connect-group">{{ i18n.t('nav.connect') }}</a></li>
            <li><a routerLink="/events">{{ i18n.t('nav.events') }}</a></li>
            <li><a routerLink="/contact">{{ i18n.t('nav.contact') }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-bottom">
    <div class="column ss-copyright">
      <span>{{ i18n.t('footer.copyright') }}</span>
      <span>{{ i18n.t('footer.design') }} <a href="https://www.styleshout.com/" target="_blank">StyleShout</a></span>
    </div>
  </div>

  <div class="ss-go-top">
    <a class="smoothScroll" title="Volver arriba" href="#top">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 0l8 9h-6v15h-4v-15h-6z"/>
      </svg>
    </a>
  </div>
</footer>
